* {
	box-sizing: border-box;
	color: rgba(220, 220, 220);
	font-family: Arial, Times New Roman, Arial;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(20, 20, 20);
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(197, 182, 157, 0.5);
	border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(197, 182, 157, 1);
	border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(197, 182, 157, 0.5);
}

body {
	min-height: 600px;
	width: auto;
	display: grid;
	grid-template-areas: 'sidebar header header header '
		'sidebar content content content ' 'sidebar footer footer footer ';
	grid-template-columns: 25% 75%;
	grid-template-rows: 90px 1fr 7%;
	/* background-color: rgba(10, 10, 10); */
	background-image: url('../img/font2.jpg');
	background-attachment: fixed;
	background-size: cover;
}

/* SIDEBAR */
.sidebar {
	background-color: rgba(30, 30, 30, 0.6);
	grid-area: sidebar;
	padding: 10px 0 0 0;
	border-bottom: 1px solid rgba(197, 182, 157, 0.5);
	border-right: 1px solid rgba(197, 182, 157, 0.5);
	border-radius: 0 0 10px 0;
}

.sidebar-title {
	text-align: center;
}

.sidebar-title-text .title {
	background-image: url("img/font.png");
	font-size: 48px;
	color: #C5B69D;
	text-shadow: rgb(32, 34, 36) 1px 1px 0px;
}

.search-header {
	/* background-image: linear-gradient(to right,rgba(50, 50, 50), rgba(60, 60, 60)); */
	background-color: rgba(50, 50, 50, 0.6);
	padding: 20px 10px;
	border-top: 1px solid rgba(197, 182, 157, 0.5);
	border-bottom: 1px solid rgba(197, 182, 157, 0.5);
}

.search-header input {
	border: 0.5px solid rgba(197, 182, 157, 0.5);
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
}

.search-header input:focus {
	background-color: rgba(30, 30, 30);
	color: rgba(220, 220, 220);
}

.reset {
	border: 0;
	background-color: inherit;
}

.reset:hover {
	color: #C5B69D;
}

.sidebar-filters {
	border-bottom: 1px solid rgba(197, 182, 157, 0.5);
	background-color: rgba(30, 30, 30);
	padding-top: 10px;
	text-align: center;
}

.filters-content {
	padding-top: 10px;
}

.filters-filter {
	padding: 5px 0;
	font-size: 15px;
	grid-area: filter;
	display: grid;
	grid-template-columns: 50% 50%;
}

.filter-itemleft {
	text-align: center;
}

.filter-itemright {
	text-align: left;
}

.filter-itemright input {
	border: 0.5px solid rgba(197, 182, 157, 0.5);
	height: 24px;
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
	width: 70px;
	-webkit-appearance: none;
}

.filter-itemright input:focus {
	background-color: rgba(30, 30, 30);
	color: rgba(220, 220, 220);
}

.sidebar select {
	border-radius: 4px;
	border: 0.5px solid rgba(197, 182, 157, 0.5);
	height: auto;
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
	width: auto;
	-webkit-appearance: none;
}

.sidebar select:hover {
	color: rgba(220, 220, 220);
	background: rgba(30, 30, 30);
}

.search-tab {
	font-size: 14px;
	padding: 20px 8px;
	display: grid;
}

.search-tab-content {
	overflow-y: scroll;
	height: auto;
	max-height: 600px;
	border: 1px solid rgba(197, 182, 157, 0.5);
	background-color: rgba(30, 30, 30, 0.6);
}

.search-tab-head {
	text-align: center;
	font-size: 18px;
	background-color: rgba(20, 20, 20, 0.6);
	border: 1px solid rgba(197, 182, 157, 0.5);
}

.search-tab-row {
	text-align: left;
	height: auto;
	background-color: rgba(30, 30, 30, 0.6);
}

.search-tab-row:nth-child(2n) {
	background-color: rgba(40, 40, 40, 0.6);
	margin: auto:
}

.search-tab-row:hover {	
	cursor: pointer;
}

.search-tab-row-name {
	font-weight: bold;
}

.search-tab-row-ilvl-slot {
	text-align: right;
	color: rgba(220, 220, 220, 0.5);
}

/* HEADER */
.header {
	padding: 20px;
	/* background-image: linear-gradient(to top, rgba(40, 40, 40),
		rgba(60, 60, 60)); */
	background-color: rgba(40, 40, 40, 0.6);
	grid-area: header;
}

.menu {
	height: 0px;
	display: grid;
	grid-template-areas: 'left center right';
	margin-top: 2px;
}

.menu .btn, .sidebar .btn {
	background-color: rgba(60, 60, 60);
	color: rgba(220, 220, 220);
	border: 1px solid rgba(197, 182, 157, 0.5);
}

.menu .btn:hover, .sidebar .btn:hover {
	color: #C5B69D;
}

.menu-left {
	grid-area: left;
	text-align: left;
	margin: 0 0 5px 25px;
}

.menu-center {
	grid-area: center;
	text-align: center;
}

.menu-right {
	grid-area: right;
	text-align: right;
	margin: 0 25px 5px 0;
}

.menu .dropdown-menu {
	background-color: rgba(60, 60, 60);
	padding: 0px;
}

/* CONTENT */
.content {
	background-color: rgba(10, 10, 10, 0.6);
	grid-area: content;
	border-top: 1px solid rgba(197, 182, 157, 0.5);
	padding: auto;
	border-radius: 10px 0 0 0;
}

.content-content {
	background-color: rgba(40, 40, 40, 0.6);
	border: 1px solid rgba(197, 182, 157, 0.5);
	margin: auto;
	margin-top: 70px;
	margin-bottom: 70px;
	width: 60%;
	border-radius: 5px;
}

.content input {
	border: 1px solid rgba(197, 182, 157, 0.5);
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
}

.content input[disabled] {
	border: 1px solid rgba(197, 182, 157, 0.15);
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
}

.content input:focus {
	background-color: rgba(30, 30, 30);
	color: rgba(220, 220, 220);
}

.content label {
	font-weight: bold;
}

fieldset {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px;
	border-radius: 8px;
	background-color: rgba(30, 30, 30, 0.6);
	border: 0.5px solid rgba(197, 182, 157, 0.5);
}

legend {
	font-size: 1.3em;
	font-weight: bold;
	width: auto;
	padding: 0px 3px;
}

.edit-jobs-roles>.form-inline {
	display: grid;
	grid-template-columns: 50% 50%;
}

.content select {
	border-radius: 3px;
	width: 80%;
	border: 0.5px solid rgba(197, 182, 157, 0.5);
	height: 38px;
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
	-webkit-appearance: none;
}

}
.content select:focus {
	color: rgba(220, 220, 220);
	background: rgba(30, 30, 30);
}

.job-select {
	text-align: left;
}

.role-select {
	text-align: right;
}

input[name=value] {
	border: 0.5px solid rgba(197, 182, 157, 0.5);
	height: auto;
	background-color: rgba(40, 40, 40);
	color: rgba(220, 220, 220);
	width: 70px;
	-webkit-appearance: none;
}

input[name=value]:focus {
	background-color: rgba(30, 30, 30);
	color: rgba(220, 220, 220);
}

.content-content-content {
	font-weight: bold;
	margin: 5%;
}

.item-head {
	padding-top: 5px;
	padding-right: 2%;
	text-align: right;
	border-bottom: 1px solid rgba(197, 182, 157, 0.5);
	background-color: rgba(40, 40, 40, 0.6);
	/* background-image: linear-gradient(to top, rgba(40, 40, 40),
		rgba(80, 80, 80)); */
}

.item-head-title {
	display: grid;
	grid-template-areas: 'item-left item-right';
	grid-template-columns: 30% 70%;
	padding-bottom: 25px;
	border-bottom: 1px solid rgba(197, 182, 157, 0.15);
}

.item-head-title-left {
	margin: auto;
	grid-area: item-left;
}

.item-head-title-right {
	tex-align: center;
	margin-left: 10%;
	grid-area: item-right;
}

.item-name {
	font-size: 2em;
	color: #0080ff;
}

.item-ilvl {
	display: inline;
	color: rgba(220, 220, 220, 0.5);
}

.item-def {
	color: rgba(220, 220, 220, 0.5);
}

.item-jobs {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(197, 182, 157, 0.15);
}

.item-details {
	display: grid;
	grid-template-areas: 'item-details-left item-details-right';
	grid-template-columns: 50% 50%;
}

.item-stats {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	grid-area: item-details-left;
}

.item-stats span {
	color: rgba(220, 220, 220, 0.5);
}

.item-other {
	text-align: left;
	grid-area: item-details-right;
}

.item-other span {
	color: rgba(220, 220, 220, 0.5);
}

.WL-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.roster-head {
	padding-top: 5px;
	padding-right: 2%;
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	border-bottom: 1px solid rgba(197, 182, 157, 0.5);
	background-color: rgba(40, 40, 40, 0.6);
	/* background-image: linear-gradient(to top, rgba(40, 40, 40),
		rgba(80, 80, 80)); */
}

.roster-head+fieldset {
	background-color: rgba(40, 40, 40, 0);
}

.roster-head+fieldset+fieldset {
	background-color: rgba(40, 40, 40, 0);
}

.roster-content-content {
	border: 0px solid rgba(197, 182, 157, 0.6);
	margin: 5%;
	width: 90%;
}

.roster-legend {
	font-weight: bold;
	margin: 0 5% 0 5%;
}

.leader-row {
	display: grid;
	grid-template-areas:
		'member-img member-pseudo member-jobs member-roles ';
	grid-template-columns: 20% 40% 20% 20%;
	padding: 10px 0 10px 0;
	height: auto;
	font-weight: bold;
	border: 1px solid rgba(197, 182, 157, 0.25);
}

.roster-tab {
	border-top: 1px solid rgba(197, 182, 157, 0.25);
	border-left: 1px solid rgba(197, 182, 157, 0.25);
	border-right: 1px solid rgba(197, 182, 157, 0.25);
}

.roster-row {
	display: grid;
	grid-template-areas:
		'member-img member-pseudo member-jobs member-roles ';
	grid-template-columns: 20% 40% 20% 20%;
	padding: 10px 0 10px 0;
	height: auto;
	font-weight: bold;
	border-bottom: 1px solid rgba(197, 182, 157, 0.25);
}

.roster-row:nth-child(2n) {
	background-color: rgba(30, 30, 30, 0.6);
}

.member-img {
	text-align: center;
	grid-area: member-img;
}

.member-pseudo {
	padding-top: 4%;
	text-align: center;
	grid-area: member-pseudo;
	margin-right: 20%;
}

.member-jobs {
	padding-top: 4%;
	text-align: center;
	grid-area: member-jobs;
}

.member-roles {
	padding-top: 4%;
	text-align: center;
	grid-area: member-roles;
}

.member-top {
	display: grid;
	grid-template-areas: 'member-top-img member-top-infos';
	grid-template-columns: 30% 70%;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(197, 182, 157, 0.15);
}

.member-top-img {
	grid-area: member-top-img;
	margin: auto;
}

.member-top-infos {
	grid-area: member-top-infos;
	margin-left: 20%;
}

.member-top-infos-name {
	font-size: 2em;
	color: #0080ff;
	font-weight: bold;
}

.member-top-infos-roster {	
	font-size: 1.5em;
	color: rgba(220, 220, 220, 0.5);
	font-weight: bold;
}

.member-top-infos-icons {
	font-weight: bold;
}

.member-tabs {
	padding-top: 15px;
	display: grid;
	grid-template-areas: 'member-tab-wl member-tab-none member-tab-loot';
	grid-template-columns: 49% 2% 49%;
}

.member-tab-none {
	grid-area: member-tab-none;
}

.member-tab-wl {
	grid-area: member-tab-wl;
}

.member-tab-loot {
	grid-area: member-tab-loot;
} 

.member-tab-head {
	text-align: center;
	border-radius: 5px 5px 0 0;
	border: 1px solid rgba(197, 182, 157, 0.25);
	background-color: rgba(40, 40, 40, 0.6);
}

.member-tab-row {
	display: grid;
	grid-template-areas: 'member-tab-row-img member-tab-row-name';
	grid-template-columns: 30% 70%;
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid rgba(197, 182, 157, 0.25);
	border-left: 1px solid rgba(197, 182, 157, 0.25);
	border-right: 1px solid rgba(197, 182, 157, 0.25);
	background-color: rgba(39, 39, 39, 0.6);
	font-weight: bold;
}

.member-tab-row:nth-child(2n) {
	background-color: rgba(30, 30, 30, 0.6);
}

.member-tab-row-img {
	padding: 10px;
	grid-area: member-tab-row-img;
}

.member-tab-row-name {
	grid-area: member-tab-row-name;
	padding-right: 10px;
}

.raid-tab {
	border-top: 1px solid rgba(197, 182, 157, 0.25);
	border-left: 1px solid rgba(197, 182, 157, 0.25);
	border-right: 1px solid rgba(197, 182, 157, 0.25);
}

.raid-row {
	display: grid;
	grid-template-areas: 'raid-row-date raid-row-expand';
	grid-template-columns: 90% 10%;
	padding: 10px 0 10px 0;
	height: auto;
	font-weight: bold;
	border-bottom: 1px solid rgba(197, 182, 157, 0.25);
	background-color: rgba(39, 39, 39, 0.6);
}	

.raid-row:nth-child(2n) {
	background-color: rgba(30, 30, 30, 0.6);
}

.raid-row-date {
	grid-area: raid-row-date;
	padding-left: 15px;
}

.raid-row-expand {
	grid-area: raid-row-expand;
}

.raid-infos {
	font-weight: normal;
	padding: 10px;
}

.container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
 	object-fit: fill !important;
}	

.item img{
  width: auto;
  height: 450px;
  max-height: 450px;
}

.home-content-content {
	background-color: rgba(40, 40, 40, 0.6);
	border: 1px solid rgba(197, 182, 157, 0.5);
	margin: auto;
	margin-top: 70px;
	margin-bottom: 30px;
	padding: 20px;
	width: 60%;
	border-radius: 5px;
}

.home-content-carousel {
	background-color: rgba(40, 40, 40, 0.6);
	border: 1px solid rgba(197, 182, 157, 0.5);
	margin: auto;
	margin-bottom: 70px;
	width: 60%;
	border-radius: 5px;
}

.pointer {
	cursor: pointer;
	}






















/* FOOTER */
.footer {
	background-color: rgba(10, 10, 10, 0.6);
	grid-area: footer;
	text-align: center;
	font-size: 10px;
	color: rgba(220, 220, 220);
	font-weight: bold;
}

span[class=made] {
	color: #005ccc;
}

span[class=mention] {
	font-size: 10px;
}

/* @media screen and (max-width: 1400px) {
	body {
		grid-template-areas:  
	'header menu menu menu menu menu'
	'submenu content content content content content'
	'submenu content content content content content'
	'submenu content content content content content'
	'footer content content content content content';;
	}
}

@media screen and (max-width: 900px) {
	body {
		grid-template-areas:  
	'header menu menu menu menu menu'
	'submenu content content content content content'
	'submenu content content content content content'
	'submenu content content content content content'
	'footer content content content content content';;
	}
} */
@media screen and (max-width: 900px) {
	fieldset {
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}
	body {
		padding: 1%;
		grid-template-areas: 'header header' 'sidebar sidebar' 'content content'
			'content content' 'content content' 'footer footer';
		;
	}
	.content-content {
		border: 1px solid rgba(197, 182, 157, 0.5);
		margin: auto;
		margin-top: 20px;
		margin-bottom: 30px;
		width: 95%;
		border-radius: 5px;
	}
	.search-tab-content {
		overflow-y: scroll;
		height: auto;
		max-height: 200px;
	}
	.member-tabs {
	grid-template-areas: 'member-tab-wl' 'member-tab-none' 'member-tab-loot';
	grid-template-columns: 100%;
	}
	.WL-list {
	grid-template-columns: 1fr;
	}
	.home-content-content {
	width: 95%;
	}
	.home-content-carousel {
	width: 95%;
}
}